@media only screen and (min-width: 300px) and (max-width: 575.99px){


.nav-item {
	display: block;
	padding: 2px 15px;
}

.nav-link.linkbatton {
	padding: 11px 32px;
}


#navbarsExampleDefault {
	background: #494848;
	text-align: center !important;
	padding: 0px 0px 21px 0px;
}  
    
    .form-inline.my-2.my-lg-0.socail {
	width: 100%;
        height: 40px;
	display: block;
	margin: 0 auto !important;
	text-align: center;
}
 .form-inline.my-2.my-lg-0.socail ul {
	margin: 0 auto;
	text-align: center !important;
	width: 100%;
	display: block;
	height: 49px;
	vertical-align: middle !important;
	padding: 20px !important;
}
    .socail ul li {
        float: none;
	display: inline !important;
	text-align: center;
	margin: 0 auto;
}
    
    .socail ul li {
	margin: 0px 9px !important;
}
    
 .nav-bg {
	height: 80px;
}  
    
    
    
    
    
    
    
    
    
    
  #home {
	padding: 134px 30px 0px 30px;
}
    
    .home_content{
        margin-bottom: 30px;
    }   
    .rasel_img {
	text-align: center;
	margin: 31px 0px;
}
    .rasel_img img{
        width: 250px;
    }
    #about {
	padding: 50px 30px 0px 30px;
}
    
    #about .right p {
	margin-bottom: 35px;
}
    
    
   #TIMELINE {
		padding: 50px 30px 0px 30px;overflow: hidden;
} 
    
    
    #TIMELINE .time_content ul {display: none;
}
    
    
    
    .slick-dots {
	list-style: none;
	text-align: right;
}
    
   .slick-dots {
	margin: 1px -0px;
}

.slick-dots li {
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
	margin: 7px 2px 3px 19px;
	padding: 0;
	cursor: pointer;
   
    top: -317px;
    z-index: 9;
    border-radius: 20px;
   
    
}
.slick-dots li button::before {
	font-family: 'slick';
    z-index: 99;
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 3px;
	right: 30px;
	width: 20px;
	height: 20px;
	content: '';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 0px 620px;
    border-radius: 20px;
}
 
    
    
   .slider_content .slider_box {
	width: 44%;
	float: left;
	margin-right: 23px;
} 
    
    
    
   
    #portfolio {
        padding: 30px 20px;}
    
    
   .slick-prev.slick-arrow {
	position: absolute;
	top: 37%;
	left: -39px;
	 border: none;
    }
      
  .slick-next.slick-arrow {
	right: -40px;
	border:none;
	
}  
   .slick-prev.slick-arrow {left: -44px;
	border:none;
} 
    
    #portfolio article .span_border {top: -69px;
}
    
    #portfolio article:hover .span_border {

	display: none;
}
    
  #portfolio article .ar_main_con p {
	font-size: 13px;
	margin-bottom: 15px;
}  
    
    
    
  
       #Contact {
	padding: 50px 10px 30px 10px;

    } 
    
form input[type="submit"] {
	font-size: 18px;
}
    
    #home .home_content p {
	width: 100%;
}
    .slider_content .slider_box {
        width: 100%;}
    
   #about .about_content .box_4 {
	width: 100%;
} 
    #Contact .content_form form {
	font-size: 10px;
}form textarea {
	height: 134px;
}
    
    
    
}
@media only screen and (min-width: 576px) and (max-width: 767.99px){
.nav-item {
	display: block;
	padding: 2px 15px;
}

.nav-link.linkbatton {
	padding: 11px 32px;
}


#navbarsExampleDefault {
	background: #494848;
	text-align: center !important;
	padding: 0px 0px 21px 0px;
}  
    
    .form-inline.my-2.my-lg-0.socail {
	width: 100%;
        height: 40px;
	display: block;
	margin: 0 auto !important;
	text-align: center;
}
 .form-inline.my-2.my-lg-0.socail ul {
	margin: 0 auto;
	text-align: center !important;
	width: 100%;
	display: block;
	height: 49px;
	vertical-align: middle !important;
	padding: 20px !important;
}
    .socail ul li {
        float: none;
	display: inline !important;
	text-align: center;
	margin: 0 auto;
}
    
    .socail ul li {
	margin: 0px 12px !important;
}
    
 .nav-bg {
	height: 80px;
}   
    
   #home {
	padding: 150px 20px 20px 20px;
} 
    
    
    .rasel_img {
	text-align: center;
	margin-top: 90px;
}
    
    
    
    #about {
	padding: 30px 20px;
}
    
    #about .right p {
	margin-bottom: 35px;
}
    #TIMELINE {
	padding: 30px 20px;
}
    
    
    
     
    .slick-dots {
	list-style: none;
	text-align: right;
}
    
   .slick-dots {
	margin: 1px -0px;
}

.slick-dots li {
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
	margin: 7px 2px 3px 19px;
	padding: 0;
	cursor: pointer;
   
    top: -317px;
    z-index: 9;
    border-radius: 20px;
   
    
}
.slick-dots li button::before {
	font-family: 'slick';
	z-index: 99;
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 3px;
	right: 30px !important;
	content: '';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 236px 23px 0px auto;
	border-radius: 20px;

}
  #TIMELINE .time_content ul {
	display: none;
}
    .slider_content .slider_box {
	width: 46%;
}
    
    
    #portfolio {
        padding: 30px 20px;}
    
    
    
      
  .slick-next.slick-arrow {
	right: -40px;
	border:none;
	
}  
   .slick-prev.slick-arrow {left: -44px;
	border:none;
} 
    
    #portfolio article .span_border {top: -69px;
}
    
    #portfolio article:hover .span_border {

	display: none;
}
    
  #portfolio article .ar_main_con p {
	font-size: 13px;
	margin-bottom: 15px;
}  
    
    
    
    #Contact{
       padding: 50px 30px 30px 30px; 
    } 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   }

@media only screen and (min-width: 768px) and (max-width: 1059px){
    
    .mb-lg-0, .my-lg-0 {
	display: none;
}
    .navbar-nav.mr-auto {
	display: block; 
	width: 259%;text-align: right;
}
    .nav-item {
	display: inline-block;
	padding: 0px 9px;
}
    
.mb-lg-0, .my-lg-0 {
	margin-bottom: 0 !important;
	margin-top: 9px !important;
    margin-right: 0px;
	width: 100%;
    
}    
    .socail ul {

	margin: 0 auto;
}
    
.socail ul li{

margin-right: 0px;
border-radius: 50%;
list-style: none;
transition: .4s ease;cursor: pointer;
     background: transparent; padding: 8px 15px;
}
.socail ul li a {
	line-height: 0px;
	color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: .4s ease;
    
}
.socail ul li:hover{
    background: #ed2d34;
}
.socail ul .nav-item.twitter{ padding: 9px 12px;}
.socail ul .nav-item.linkedin{ padding: 13px 13px;line-height: 0px;}
.socail ul .nav-item.youtube{ padding: 13px 13px;line-height: 0px;}


    
      
    
    
    
    
    
  #home {
	padding: 134px 30px 0px 30px;
}
    
    .home_content{
        margin-bottom: 30px;
    }   
    .rasel_img {
	text-align: center;
	margin: 31px 0px;
}
    .rasel_img img{
        width: 250px;
    }
    #about {
	padding: 50px 30px 0px 30px;
}
    
    #about .right p {
	margin-bottom: 35px;
}
    
    
   #TIMELINE {
		padding: 50px 30px 0px 30px;
} 
  .rasel_img {
	text-align: right;
	
}  
    
  #home .home_content p {

	width: 400px;
}  
    
    #about .right_bottom ul {
	margin-top: 126px;
}
   #about .right_bottom ul li {
	margin-bottom: 30px;
} 
   
    
    
    
    
    
      
    
    .slick-dots {
	list-style: none;
	text-align: right;
}
    
   .slick-dots {
	margin: 1px -0px;
}

.slick-dots li {
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
	margin: 7px 2px 3px 19px;
	padding: 0;
	cursor: pointer;
   
    top: -317px;
    z-index: 9;
    border-radius: 20px;
   
    
}
.slick-dots li button::before {
	font-family: 'slick';
	z-index: 99;
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 3px;
	right: 30px !important;
	/* width: 20px; */
	/* height: 20px; */
	content: '';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 236px 23px 0px auto;
	border-radius: 20px;
	left: ;
}
  #TIMELINE .time_content ul {
	display: none;
}
    
    
    
    .slider_content .slider_box {
	width: 46%;
	margin-right: 20px;
	margin-bottom: 10px;
}
    
    
    
    
    
    
    
  #portfolio {
		padding: 50px 30px 0px 30px;
}     
    
    
  .slick-next.slick-arrow {
	right: -40px;
	border:none;
	
}  
   .slick-prev.slick-arrow {left: -44px;
	border:none;
} 
    
    #portfolio article .span_border {top: -69px;
}
    
    #portfolio article:hover .span_border {

	display: none;
}
    
  #portfolio article .ar_main_con p {
	font-size: 13px;
	margin-bottom: 15px;
}  
    
    
    
    #Contact{
       padding: 50px 30px 30px 30px; 
    } 
    
    
    
    
    
    
    
    
    
    
    
    
}

@media (min-width: 1200px) { ... }
